In [1]:
# Many-to-Many Relationships

In [2]:
# Start with a Fresh Database

In [3]:
# CREATE TABLE User (
#     id INTEGER NOT NULL PROMARY KEY AUTOINCREMENT UNIQUE,
#     name TEXT,
#     email TEXT
# )

In [4]:
# CREATE TABLE Course (
#     id INTEGER NOT NULL PROMARY KEY AUTOINCREMENT UNIQUE,
#     title TEXT
# )

In [5]:
# CREATE TABLE Member (
#     user_id INTEGER,
#     course_id INTEGER,
#    role INTEGER,
#     PRIMARY KEY (user_id, course_id)
# )

In [6]:
# Insert Users and Courses

In [7]:
# INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org');
# INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org');
# INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org');

# INSERT INTO Course (title) VALUES ('Python');
# INSERT INTO Course (title) VALUES ('SQL');
# INSERT INTO Course (title) VALUES ('PHP');

In [8]:
# Insert Memberships

In [ ]:
# INSERT INTO Member (user_id, course_id, role) VALUES (1, 1, 1);

In [ ]:
# SELECT User.name, Member.role, Course.title
# FROM User JOIN Member JOIN Course
# ON Member.user_id = User.id AND Member.course_id = Course.id
# ORDER BY Course.title, Member.role DESC, User.name